/*
    ------------------------
    ----- 1. Colors -----
    ------------------------
*/

// Define base and accent colors
$base-color: #236998;
$triad-color-1: #63aee0;
$triad-color-2: #e07a79;
$dark-color: #2a2a2a;

// $base-color-hover: darken($base-color, 10%);
$base-color-hover: lighten($dark-color, 10%);

// Define background colors
$background: #2a2a2a;
$background-dark: #0a0a0a;
$background-alt: #f2f2f5;

// Define border colors
$border: #dcd9d9;

// Define text colors
$heading: #464646;
$text: #74808a;
